<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aster Application" >
    <listeners>
        <listener class-name="com.aster.testcases.TestStatusListener"/>
    </listeners>
    <test name="LoginTest">
        <classes>
            <class name="com.aster.testcases.AsterLogin"/>
            <class name="com.aster.testcases.AddOppurtunityTest"/>
        </classes>
    </test>
</suite>